*
{
    margin: 0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
    font: bold;
}
html{
    scroll-behavior: smooth;
}
body{
    background:black;
    color:white;
    font: bold;
}
#header
{
    width:100%;
    height:100vh;
    background-image: url(images/ak-image.png);
    background-size: cover;
    background-position: right;

}
.container
{
    padding:10px 10%;
}
nav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width:80px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content:'';
    width:0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 0.6s;

}
nav ul li a:hover::after{
    width:100%;
}
.header-text
{
    margin-top:15%;
    font-size: 30px;
}
.header-text h1{
    font-size:60px;
    margin-top:20px;
}
.header-text h1 span{
    color:red;
}
/* about*/
#about
{
    padding:80px;
    color:white;
}
.row
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1
{
    flex-basis:35%;
}
.about-col1 img{
    width: 50vh;
    height: 70vh;
    border-radius: 15px;
}
.about-col2 {
     flex-basis: 60%;
}
.about-col2 h1{
    font-size: 60px;
    color:white;
}
.tab-titles
{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after
{
    content:'';
    width:0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.6s;
}
.tab-links.active-link::after
{
width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:rgb(28, 17, 174);
    font-size:18px;
}
.tab-contents
{
    display:none;
}

.tab-contents.active-tab
{
    display: block;
}
/* services*/
#services
{
    padding:30px 0;
}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background: #262526;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 20px;
    transition:background 0.5s ,transform 0.5s ;
}
.services-list div i{
    font-size:50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration:none;
    color:white;
    font-size: 12px;
    margin-top:15px;
    display: inline-block;
}
.services-list div:hover{
  background: lightgreen;
  transform:translateY(-10px);
}
.containter
{
    margin-left: 150px;
}
.contact-left
{
    flex-basis:35%;
}
.contact-right
{
    flex-basis:60%;
}
.contact 
{
    margin-top: 30px;
   
}
.contact-left p i{
    color:white;
    margin-right: 15px;
    font-size:25px;
}
.social-icons
{
    margin-top:30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.4s;
}
.social-icons a:hover{
    color:#3305a7;
    transform:translateY(-8px);
    
}
.row{
    margin-top: 15px;
}

.download{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0d3e73; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; 
  }
  .download:hover {
    background-color: #74a3d6;
  }
  .contact-right form{
    width:100%;
  }
  form input,form textarea{
    width:70%;
    border: 0;
    outline:none;
    background:#262626;
    padding:20px;
    margin:10px;
    color:white;
    font-size: 18px;
    border-radius:6px;
    margin-bottom: 10px;
  }
  .contact h1{
    font-size: 500;
  }
  .copyright
  {
    width:100%;
    text-align:center;
    padding:25px 0;
    background: #262626;
    font-weight:300;
    margin-top:20px;
  }

nav .fas
{
    display:none;
}

  @media only screen and (max-width:600px) {
    #header
    {
        background-image: url(images/akphone.png);
    }
    .header-text
    {
        margin-top: 100%;
        font-size:16px;
    }
    .header-text h1{
        font-size:30px;
    }
    nav .fas
    {
        display:block;
        font-size: 25px;
    }
    nav ul {
    background: #3e07ad;
    position:fixed;
    top:0;
    right:-200px;
    width:200px;
    height:100vh;
    padding-top:50px;
    z-index: 2;
    transition: right 0.5s;
    }
    nav ul li
    {
        display:block;
        margin:25px;
    }
    nav ul .fas{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .sub-title
    {
        font-size:40px;

    }
    .about-col1,.about-col2
    {
        flex-basis: 100%;;
     }
    
  }
  #msg
  {
    color:green;
    margin-top:30px;
    display:block
  }
  
  .hello
  {
    text-decoration: none;
    font-size:20px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.4s;
  }
  .hello:hover{
    color:#3305a7;
    transform:translateY(-8px);
    
}